body {
    display: block;
    margin: 0px;
    background: url(linear_gradient.png) fixed #A8BFAD;
    background-size: cover;
}
.view {
    height: 100vh;
}
.repo{
    height: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    background-color: black;
    color: rgb(240, 240, 240);
    height: 7vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 83vh;
}
.section {
    margin-top: 10%;
}
#row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.allbtn{
    text-align: center;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 0px;
    background-color: #cfe2f3;
    font-family: monospace;
    cursor: pointer;
    color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.allbtn:hover, .allbtn:focus, .allbtn:active {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.btn{ 
    font-size: 5vh;
    width: 40vw;  
    border-radius: 70px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.circle{
    font-size: 10px;
    size: 40vw;
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;    
    font-family: system-ui;

}
ul:hover {
    color: rgba(205,217,229,0.7);
}

.repo:hover {
    background: url(github-mark.png)
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}


.tick {
    font-size:1rem; white-space:nowrap; font-family:arial,sans-serif;
  }
  
  .tick-flip,.tick-text-inline {
    font-size:2.5em;
  }
  
  .tick-label {
    margin-top:1em;font-size:1em;
  }
  
  .tick-char {
    width:1.5em;
  }
  
  .tick-text-inline {
    display:inline-block;text-align:center;min-width:1em;
  }
  
  .tick-text-inline+.tick-text-inline {
    margin-left:-.325em;
  }
  
  .tick-group {
    margin:0 .5em;text-align:center;
  }
  
  .tick-text-inline {
     color: #595d63 !important; 
  }
  
  .tick-label {
     color: #595d63 !important; 
  }
  
  .tick-flip-panel {
     color: #fff !important; 
  }
  
  .tick-flip {
     font-family: !important; 
  }
  
  .tick-flip-panel-text-wrapper {
     line-height: 1.45 !important; 
  }
  
  .tick-flip-panel {
     background-color: #3c3e3c !important; 
  }
  
  .tick-flip {
     border-radius:0.12em !important; 
  }

  /* .tick-credits {
    visibility: hidden;
  } */